* {
  font-family: Arial, Helvetica, sans-serif;
}

#headerNav {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  margin: 0px 0px 30px 0px;
  padding-top: 12px;
  padding-bottom: 12px;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: 35px;
}

li {
  padding-right: 115px;
}


#heroImage {
  display: flex;
  justify-content: center;
  margin: 30px 0px 30px 0px;
}

#banners {
  display: flex;
  justify-content: center;
  margin: 30px 0px 30px 0px;
}

.imgBanners {
  padding: 0px 15px 0px 15px;
}

#featured { /* Need to review this */
  display: inline-block;
  margin: 0px 0px 30px 0px;
}

#featuredImgBanner {
  float: left;
  margin: 0px;
  margin-right: 30px;
}

h1 {
  display: inline;
  font-size: 36px;
  justify-content: left;
  margin: 0px;
}

#placeholderText {
  overflow: scroll;
  max-height: 268px; /* Need to review this */
  margin: 20px 0px 20px 0px;
  font-size: 12px;
}

p {
  margin-top: 0px;
  padding-right: 0px;
}

input { /* Need to add button hover behavior*/
  line-height: 45px;
  width: 400px;
  margin: 0px;
  border-radius: 10px;
}

footer {
  background-color: lightgray;
  padding: 55px;
  max-height: 86px;
}